$rm-dark-blue:   #0B1928;
$rm-medium-blue: #0F2344;
$rm-light-blue:  #193965;
$rm-yellow:      #DBAB3A;
$rm-light-teal:  #377F8A;
$rm-medium-teal: #295D6F;
$rm-dark-teal:   #184249;
$rm-light-grey:  #F7FAFC;
$rm-medium-grey: #EAEAEA;
$rm-dark-grey:   #D8D8D8;
$rm-white:       #FFFFFF;
